@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    /*letak dari sisi dalam*/
    padding: 0;
    /*letak dari sisi luar*/
    box-sizing: border-box;
    /*menghitung lebar dan tingginya termasuk padding dan border, sehingga ukuran konten sebenarnya (width dan height) tidak berubah ketika Anda menambahkan padding atau border ke elemen tersebut. */
}

:root {
    /* ----- WARNA ------*/
    --warna-utama: #0e4bf1;
    --warna-panel: ##f7f7f7;
    --warna-text: #000;
    --warna-hitam-terang: #707070;
    --warna-tepi: #e6e5e5;
    --alih-warna: #ddd;
    --warna-box1: #4da3ff;
    --warna-box2: #ffe6ac;
    --warna-box3: #e7d1fc;
    --warna-ikon-judul: #fff;
    --warna-bulat: #fff;

    /* ----- Transisi ------*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
}

body{
    min-height: 100vh;
    background-color: white;
}

body.dark{
    --warna-utama: #3a3b3d;
    --warna-panel: #242526;
    --warna-text: #ccc;
    --warna-hitam-terang: #ccc;
    --warna-tepi: #4d4c4c;
    --alih-warna: #fff;
    --warna-box1: #3a3b3c;
    --warna-box2: #3a3b3c;
    --warna-box3: #3a3b3c;
    --warna-ikon-judul: #ccc;
    --warna-bulat: #292929;
}

nav{
    position: fixed;
    padding: 10px 14px;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: var(--warna-panel);
    border-right: 1px solid var(--warna-tepi);
    transition: var(--tran-04);
}

nav.close{
    width: 73px;
}

nav .nama-logo{
    display: flex; /*Memungkinkan untuk pengaturan layout, posisi dan tampilan dari suatu konten yang ukurannya belum diketahui atau bernilai dinamis*/
    align-items: center; /* Ini berguna untuk menengahkan elemen-elemen dalam satu kolom vertikal.*/
}

nav .gambar-logo{
    display: flex;
    justify-content: center; /*elemen dalam kontainer akan diatur secara horizontal sehingga berada di tengah-tengah kontainer*/
    min-width: 45px; /*Ini memastikan bahwa elemen tidak akan menjadi lebih kecil dari nilai minimum yang ditentukan*/
}

nav .gambar-logo img{
    width: 40px;
    object-fit: cover; /*suatu gambar atau elemen media disesuaikan dengan kotak kontainernya*/
    border-radius: 50%;
}

nav .nama-logo .nama_logo{
    font-size: 22px;
    font-weight: 600;
    color: var(--warna-text);
    margin-left: 14px;
    transition: var(--tran-04);
    white-space: nowrap;
}

nav .item-menu{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-menu li{
    list-style: none;
}

.item-menu li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}

.nav-links li a:hover:before{
    position: absolute;
    left: -7px;
    content: "";
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--warna-utama);
}

.item-menu a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--warna-hitam-terang);
}

.item-menu li a .link-nama{
    font-size: 18px;
    font-weight: 400;
    color: var(--warna-hitam-terang);
    transition: var(--tran-04);
    white-space: nowrap;
}

nav.close li a .link-nama,
nav.close .nama_logo
{
    opacity: 0;
    pointer-events: none;
}

.nav-links li a:hover i,
.nav-links li a:hover .link-nama{
    color: var(--warna-utama);
}

body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-nama{
    color: var(--warna-text);
}

.item-menu .bagian-logout{
    padding-top: 10px;
    border-top: 1px solid var(--warna-tepi);
}

.item-menu .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.item-menu .alih-mode{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.alih-mode .ganti{
    position: relative;
    display: inline-block;
    border-radius: 25px;
    height: 22px;
    width: 40px;
    background-color: var(--alih-warna);
}

.ganti:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--warna-bulat);
    border-radius: 50%;
}

body.dark .ganti:before{
    left: 20px;
}

.dashboard{
    position: relative;
    left: 250px;
    background-color: white;
    height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-04)
}

nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top{
    position: fixed;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    align-items: center;
    padding: 10px 14px;
    top: 0;
    justify-content: space-between;
    background-color: var(--warna-panel);
    transition: var(--tran-04);
}

nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}


.dashboard  .sidebar-alih{
    font-size: 26px;
    color: var(--warna-text);
    cursor: pointer;
}

.dashboard .top .kotak-pencarian{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}

body.dark li a:hover::before{
    background-color: var(--warna-text);
}

.top .kotak-pencarian input{
    position: absolute;
    border: 1px solid var(--warna-tepi);
    background-color: var(--warna-panel);
    padding: 0 25px 0 50px;
    border-radius: 25px;
    height: 100%;
    width: 100%;
    color: var(--warna-text);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}

.top .kotak-pencarian i{
    position: absolute;
    font-size: 22px;
    left: 15px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--warna-hitam-terang);
}

.dashboard .dash-content{
    padding-top: 50px;
}


@media (max-width: 1000){
    nav{
        width: 73px;
    }
    nav.close{
        width: 250px;
    }
    nav .nama_logo{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .nama_logo{
        opacity: 1;
        pointer-events: auto;
    }
    nav li a .link-nama{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-nama{
        opacity: 1;
        pointer-events: auto;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard .top{
        left: 250px;
        width: calc(100% - 250px);
    }
    .activity .activity-data{
        overflow-x: scroll;
    }
}

@media (max-width: 500px){
    nav{
        width: 73px;
    }
    nav.close{
        width: 73px;
    }
    nav .nama_logo{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .nama_logo{
        opacity: 0;
        pointer-events: none;
    }
    nav li a .link-nama{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-nama{
        opacity: 0;
        pointer-events: none;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    .dashboard .top .sidebar-alih{
        display: none;
    }
}

.main--content{
    position: relative;
    background: var(--warna-panel);
    width: 100%;
    padding: 1rem;
}

.header--wrapper img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.header--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.user--info{
    display: flex;
    align-items: center;
    gap: 1;
}

.card--container{
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
}

.card--wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.main--title{
    padding-bottom: 10px;
    font-size: 15px;
}

.payment--card{
    background: rgb(229, 223, 223);
    border-radius: 10px;
    padding: 1.2rem;
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5 ease-in-out;
}

.payment--card:hover{
    transform: translateY(-5px);
}

.card--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.amount{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 12px;
    font-weight: 200;
}

.amount--value{
    font-size: 24px;
    font-weight: 600;
}

.icon{
    color: #fff;
    padding: 1rem;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5rem;
    background: red;
}

.card-detail{
    font-size: 18px;
    color: #777777;
    letter-spacing: 2px;
}

.tabular--wrapper{
    background: #fff;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
}

.light-red{
    background: rgb(251, 233, 254);
}

.light-purple{
    background: rgb(254, 226, 254);
}

.light-green{
    background: rgb(235, 254, 235);
}

.light-blue{
    background: rgb(236, 236, 254);
}

.light-yellow{
    background: rgb(249, 255, 217);
}

.light-brown{
    background: rgb(255, 244, 217);
}

.light-grey{
    background: lightgray;
}


.dark-red{
    background:red;
}

.dark-purple{
    background: purple;
}

.dark-green{
    background: green;
}

.dark-blue{
    background: blue;
}

.dark-yellow{
    background: rgb(160, 166, 0);
}

.dark-brown{
    background: brown;
}

.dark-grey{
    background: darkgray;
}

.table.container{
    width: 100%;
}

table{
    width: 100%;
    border-collapse: collapse;
}

thead{
    background: rgba(113, 99, 186, 255);
    color: #fff;
}

th{
    padding: 15px;
    text-align: left;
}

tbody{
    background: #f2f2f2;
}

td{
    padding: 15px;
    text-align: left;
}

tr:nth-child(even){
    background: #fff;
}

tfoot{
    background: rgba(113, 99, 186, 255);
    color: white;
    font-weight: bold;
}

tfoot td{
    padding: 15px;
}

.table-container button{
    color: green;
    background: none;
    cursor: pointer;
}

.container-kiri{
    position: relative;
    max-width: 600px;
    width: 48%;
    float: left;
    border-radius: 6px;
    padding: 30px;
    margin: 0 8px 0 0;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.container-kanan{
    position: relative;
    max-width: 600px;
    width: 50%;
    float: right;
    border-radius: 6px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.container header{
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.container form{
    position: relative;
    margin-top: 16px;
    min-height: 390px;
    background-color: #fff;
}

.container form .detail{
    margin-top: 30px;
}

.container form.title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}

.container form .fields{
    align-items: center;
}

form .field .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.input-field input{
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 20px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    width: 450px;
    margin: 8px ;
}

.input-field label{
    position: relative;
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.fields{
    padding-bottom: 10px;
}

.hasil{
    padding-top: 10px;
    border-top: 1px solid var(--warna-tepi);
}

.nextBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 100px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 25px;
    margin: 5px 20px;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
    float: right;
}

form button i{
    margin: 5px;
}

.administrasi{
    position: relative;
    background: var(--warna-panel);
    width: 100%;
    padding: 1rem;

}